@import '../../../variables.scss';

.component-container {
    width: 100%;
}

.categories-container {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.category-item {
    font-size: 30px;
    margin: 10px;
}

.category-item:hover {
    color: gray;
    cursor: pointer;
}

.offers-container {
    margin: 10px 20px;
    padding-bottom: 20px;
}

.offer-item:first-child {
    margin-top: 30px;
}

.offer-item:hover {
    background-color: rgb(248, 249, 250);
}

.offer-item-title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.offer-item-title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.offer-item-description {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-divider {
    width: 80%;
    margin: 0 auto;
    // margin-top: 25px;
}

.offer-item {
    border: 1px solid rgba(157, 137, 179, 0.11);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    cursor: pointer;
    max-width: 1000px;
    margin: 15px auto;
    background-color: $white;
}

.custom-headline {
    margin: 5px;
    text-align: center;
}

@media (max-width: 768px) {

    .offer-item {
        flex-direction: column;

        padding-top: 20px;
        padding-bottom: 20px;
    }
    .offer-item-description {
        padding:10px;
    }

}