<nav class="navbar-container navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">Strona główna</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class=" navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <ng-container *ngIf="isLogged">
                <li class="nav-item">
                    <a class="nav-link" href="/offer-management/0">Dodaj ogłoszenie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/offer-list-management">Moje ogłoszenia</a>
                </li>
                <li *ngIf="userIsAdmin" class="nav-item">
                    <a class="nav-link" href="/offer-list-management-admin">Administracja</a>
                </li>
            </ng-container>
        </ul>
        <span *ngIf="isLogged" class="navbar-text">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <span class="nav-link">Cześć, {{username}}!</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Wyloguj</a>
                </li>
            </ul>
        </span>
        <span *ngIf="!isLogged" class="navbar-text">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Zaloguj</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Rejestracja</a>
                </li>
            </ul>
        </span>
    </div>
</nav>