.offer-component {
    margin-top: 40px;
    width: 700px;
}

.offer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.custom-invalid-feedback {
    font-size: 80%;
    color: #dc3545;
}


@media (max-width: 768px) {
    .offer-component {
        width: 80%;
    }
}