<div *ngIf="offer" class="component-container">
    <div class="title-continer">
        <h1 class="mat-headline custom-headline">
            {{offer.title}}
            <span *ngIf="admin" class="span-admin">{{getStatus(offer.offerStatus)}}</span>
        </h1>
    </div>

    <mat-divider></mat-divider>

    <div class="offer-content-container">

        <div class="offer-desc-standard-container desc-continer content-background">
            <p class="bolder">Opis</p>
            <hr class="heading-line offer-line line100"/>
            <div class="offer-text-content">{{offer.description}}</div>
        </div>
        <div class="offer-desc-standard-container phone-continer content-background">
            <div class="padding-0 offer-content-heading crucial-info-heading">
                <div class="crucial-content-container">
                    <span class="salary-text">{{offer.price}} PLN</span>
                    <span class="smaller-text">Brutto miesięcznie</span>
                </div>
            </div>
            <hr class="heading-line offer-line"/>

            <div class="padding-0 offer-content-heading crucial-info-heading">
                <div class="crucial-content-container">
                    <span class="salary-text"> {{offer.contactNumber}}</span>
                    <span class="smaller-text">Kontakt</span>
                </div>
            </div>
            <hr class="heading-line offer-line"/>
        </div>
    </div>


    <mat-divider></mat-divider>

</div>