.component-container {
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    flex-direction: column;
    margin: 0 auto;
}


.title-continer {
    margin: 40px 20px 40px 20px;
}

.span-admin {
    color: orangered;
    text-decoration: underline;
}

.desc-continer {
    margin: 20px;
}

.phone-continer {
    margin: 20px;
    margin-top: 50px;
}